.AddForm__heading{
    padding: 0.875rem 0;
    font-size: 2rem;
    font-weight: bold
}

.AddForm__container{
    border-radius: 1rem;
    width: 60%;
    border: 1px solid #B1B1B1;
    padding: 2rem ;
}
.AddForm--post-code{
    background: #ECECEC;
    padding: 1.2rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    color:#B1B1B1
}
