.AddForm__heading{
    padding: 0.875rem 0;
    font-size: 2rem;
    font-weight: bold
}

.AddForm__container{
    border-radius: 1rem;
    width: 60%;
    border: 1px solid #B1B1B1;
    padding: 2rem ;
}